ase==3.24.0
cmcrameri==1.9
einops==0.8.1
matplotlib==3.10.1
networkx==3.3
notebook==7.3.2
numpy==2.1.2
pandas==2.2.3
py3Dmol==2.5.4
pymatgen==2025.1.9
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
torch==2.5.1
tqdm==4.67.1
xraydb==4.5.8